<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> {{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/perfil">Datos personales</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/cursos">Cursos</a>
        </li>
  
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Conocimientos técnicos
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/conocimientostecnicos/tipo', 'Framework']">Frameworks</a>
            <a class="dropdown-item" [routerLink]="['/conocimientostecnicos/tipo', 'IDE']">IDES</a>
            <a class="dropdown-item" [routerLink]="['/conocimientostecnicos/tipo', 'Lenguaje']">Lenguajes de programación</a>
            <a class="dropdown-item" [routerLink]="['/conocimientostecnicos/tipo', 'S.O.']">Sistemas operativos</a>
            <a class="dropdown-item" [routerLink]="['/conocimientostecnicos/tipo', 'Utilidad']">Utilidades</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/conocimientostecnicos/tipo', 'TODOS']">Todo</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/experiencia">Experiencia profesional</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/download">Download</a>
        </li>
  
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="strBusqueda" name="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="buscar()">Search</button>
          </form>  
      </ul>

  
<!--       <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()">
          <a routerLink="/login" class="btn btn-outline-success">Sign In</a>
        </li>
        <li *ngIf="authService.isAuthenticated()" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link btn btn-secondary dropdown-toggle" role="button" id="navbarDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{authService.usuario.username}}
          </a>
      
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
          </div>
        </li>
      </ul> -->

    </div>
  </nav>
  
