<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Datos personales y titulación</h4><br>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><span>Nombre</span></label>
                                        <input type="text" class="form-control" disabled value="Antonio">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><span>Primer apellido</span></label>
                                        <input type="text" class="form-control" disabled value="Fernández">
                                    </div>
                                </div>
                          
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><span>Segundo apellido</span></label>
                                        <input type="text" class="form-control" disabled value="Lucena">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span>Nacionalidad</span></label>
                                        <input type="text" class="form-control" disabled value="Española">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span>Lugar de residencia</span></label>
                                        <input type="text" class="form-control" disabled value="Alcorcón - Madrid">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><span>Teléfono</span></label>
                                        <input type="text" class="form-control" disabled value="627336511">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><span>Correo electrónico</span></label>
                                        <input type="text" class="form-control" disabled value="antonio63j@hotmail.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label><span>Titulación</span></label>
                                        <input type="text" class="form-control" disabled value="Diplomado/Ingeniero Informatica">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label><span>Año</span></label>
                                        <input type="text" class="form-control" disabled value="1999">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label><span>Universidad</span></label>
                                        <input type="text" class="form-control" disabled value="Universidad Politécnica de Madird">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label><span>Tiempo libre</span></label>
                                        <div class="card">
                                                <div class="card-body">
                                                  <ul>
                                                      <li>Parte de mi tiempo libre lo dedico a estar al día en las nuevas tecnologías de desarrollo software</li>
                                                      <li>Jardinería, cine y lectura</li>
                                                      <li>Cuidado de mis animales de compañía, sobre todo de mis perros</li>
                                                  </ul> 
                                                </div>
                                              </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">

                    <div class="content">

                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/red.jpg" alt="..."/>
                            </a>
                        </div>
                        <p class="description text-center"> "Hay una fuerza motriz más fuerte que el vapor, 
                                la electricidad y la energia atómica: la voluntad."<br>
                                <span>Albert Einstein</span>
                        </p>
                    </div>
<!--                     <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
