<div class="card text-center">
    <div class="card-header">
      <h3>Conocimientos técnicos</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Lista de conocimientos técnicos ({{tipoConocimiento}})</h5>
      
      <div *ngIf="cursos?.length==0" class="alert alert-info">No hay disponibilidad para mostra la lista</div> 
      <table class="table table-bordered table-striped" *ngIf="conocimientostecnicos?.length>0">
        <thead>
          <tr>
            
            <th>tema</th>
            <th>tipo</th>
            <th>nivel</th>
            <th>comentario</th>
   
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ct of conocimientostecnicos">
            <td>{{ ct.nombre }}</td>
            <td>{{ ct.tipo}}</td>
            <td>{{ ct.nivel}}</td>
            <td>{{ ct.comentario }}</td>
          
          </tr>
        </tbody>
      </table>
  
    </div>
    <div class="card-footer text-muted">
      <paginator-nav *ngIf = "paginador" [paginador] = "paginador" (messageToEmit)="getPagina($event)"></paginator-nav>
    </div>
  </div>
